<!-- this is a sample default list template -->
<div class="card my-4" style="width: 18rem;">

	<div class="card-body">

		<h5 class="card-title">{{ doc.airplane }}</h5>

		<p>{{doc.source_airport_code}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
				fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
				<path fill-rule="evenodd"
					d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
			</svg> {{doc.destination_airport_code}}</p>

		<p> {{ frappe.format_date(doc.date_of_departure) }} |

			{{ doc.time_of_departure}} | {{frappe.utils.format_duration(doc.duration)}}</p>

		<br />

		<a href="{{ doc.route }}">View Flight</a>

	</div>

</div>